anyjson==0.3.3
asn1crypto==0.24.0
backports.functools-lru-cache==1.5
bcrypt==3.1.4
beautifulsoup4==4.4.1
booleano==1.1a2
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0
configparser==3.5.0b2
crcmod==1.7
cryptography==2.6.1
csv2es==1.0.1
cycler==0.10.0
elasticsearch==7.0.0
entrypoints==0.2.3.post3
enum34==1.1.6
Flask==1.0.2
future==0.15.2
GDAL==2.3.2
genderizer==0.1.2.3
gyp==0.1
html5lib==1.0.1
httplib2==0.11.3
idna==2.8
ipaddress==1.0.22
itsdangerous==1.1.0
Jinja2==2.10.1
joblib==0.8.4
keyring==15.1.0
keyrings.alt==3.1
kiwisolver==1.0.1
lxml==4.1.1
MarkupSafe==1.1.1
matplotlib==2.2.2
meld3==1.0.2
mysql-connector-python==8.0.11
naiveBayesClassifier==0.1.3
numpy==1.13.3
olefile==0.46
OWSLib==0.16.0
paramiko==2.4.1
pdfminer.six==20181108
pexpect==4.6.0
Pillow==5.2.0
protobuf==3.0.0
psutil==5.4.6
psycopg2==2.7.6.1
pyasn1==0.4.2
pycairo==1.16.2
pycparser==2.19
pycrypto==2.6.1
pycryptodome==3.8.2
pyelasticsearch==1.2.3
Pygments==2.2.0
PyGObject==3.30.1
PyNaCl==1.2.1
pyodbc==4.0.22
pyOpenSSL==19.0.0
pyparsing==2.3.1
pyproj==1.9.5.1
pyspatialite==3.0.1
pysqlite==2.7.0
python-dateutil==2.6.1
python-memcached==1.53
pytz==2018.5
pyxdg==0.25
PyYAML==5.4
requests==2.21.0
rest-shell==0.1
retrying==1.3.3
SecretStorage==2.3.1
Shapely==1.6.4.post2
simplejson==3.6.5
six==1.12.0
sortedcontainers==2.1.0
subprocess32==3.5.2
supervisor==3.3.1
urllib3==1.25.1
webencodings==0.5
Werkzeug==0.15.2
